<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425679145687-56680rt1tjn3cfn8rcur055ofpl5ctc8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425679145687-56680rt1tjn3cfn8rcur055ofpl5ctc8</string>
	<key>API_KEY</key>
	<string>AIzaSyDKyEJGhlFViaGZjMSU1gliZoadqxSvoKs</string>
	<key>GCM_SENDER_ID</key>
	<string>425679145687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iam</string>
	<key>PROJECT_ID</key>
	<string>iamapp-80ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>iamapp-80ab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425679145687:ios:1e835a1e07d583fafd7e92</string>
</dict>
</plist>