<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425679145687-6fi74fe62a0ac9htq84nue2sdgnomlb0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425679145687-6fi74fe62a0ac9htq84nue2sdgnomlb0</string>
	<key>API_KEY</key>
	<string>AIzaSyDKyEJGhlFViaGZjMSU1gliZoadqxSvoKs</string>
	<key>GCM_SENDER_ID</key>
	<string>425679145687</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.iam.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>iamapp-80ab7</string>
	<key>STORAGE_BUCKET</key>
	<string>iamapp-80ab7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425679145687:ios:c459ac90a8953e89fd7e92</string>
</dict>
</plist>